<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>accueil.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CatalogueServlet</servlet-name>
        <servlet-class>com.example.run.CatalogueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogueServlet</servlet-name>
        <url-pattern>/catalogue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.run.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.run.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.example.run.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViderPanierServlet</servlet-name>
        <servlet-class>com.example.run.ViderPanierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViderPanierServlet</servlet-name>
        <url-pattern>/ViderPanierServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <servlet-class>com.example.run.DeleteFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <url-pattern>/DeleteFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RechercheServlet</servlet-name>
        <servlet-class>com.example.run.RechercheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RechercheServlet</servlet-name>
        <url-pattern>/RechercheServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.example.run.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>com.example.run.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.example.run.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.example.run.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetProductDetailsServlet</servlet-name>
        <servlet-class>com.example.run.GetProductDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProductDetailsServlet</servlet-name>
        <url-pattern>/GetProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>com.example.run.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddModeratorServlet</servlet-name>
        <servlet-class>com.example.run.AddModeratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddModeratorServlet</servlet-name>
        <url-pattern>/AddModeratorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteModeratorServlet</servlet-name>
        <servlet-class>com.example.run.DeleteModeratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteModeratorServlet</servlet-name>
        <url-pattern>/DeleteModeratorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetModeratorDetailsServlet</servlet-name>
        <servlet-class>com.example.run.GetModeratorDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetModeratorDetailsServlet</servlet-name>
        <url-pattern>/GetModeratorDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditModeratorServlet</servlet-name>
        <servlet-class>com.example.run.EditModeratorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditModeratorServlet</servlet-name>
        <url-pattern>/EditModeratorServlet</url-pattern>
    </servlet-mapping>
</web-app>