<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>accueil.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CatalogueServlet</servlet-name>
        <servlet-class>com.example.run.CatalogueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogueServlet</servlet-name>
        <url-pattern>/catalogue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.run.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.run.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.example.run.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViderPanierServlet</servlet-name>
        <servlet-class>com.example.run.ViderPanierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViderPanierServlet</servlet-name>
        <url-pattern>/ViderPanierServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <servlet-class>com.example.run.DeleteFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <url-pattern>/DeleteFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RechercheServlet</servlet-name>
        <servlet-class>com.example.run.RechercheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RechercheServlet</servlet-name>
        <url-pattern>/RechercheServlet</url-pattern>
    </servlet-mapping>

</web-app>